* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-color: #fff;
}




/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
}



/* ПЕРВАЯ СЕКЦИЯ */
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0 50px;

    height: 40vh;

    background: -webkit-linear-gradient(45deg, rgb(216, 184, 238), rgb(228, 210, 229));
    background: -moz-linear-gradient(45deg, rgb(216, 184, 238), rgb(228, 210, 229));
    background: linear-gradient(45deg, rgb(216, 184, 238), rgb(228, 210, 229));
}


/* ВТОРАЯ СЕКЦИЯ */
.section2 {
    /* background-color: #eee; */

}


.section-img {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
}

.section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 500px;
}



/* ТРЕТЬЯ СЕКЦИЯ */
.section3 {
    height: 500px;
    /* background-color: #f7dd70; */
}

.section5{
    background-color: #f7dd70;
    height: 300px;
}

.section5-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 300px;
}



/* ШЕСТАЯ СЕКЦИЯ */
.section6_img{
    padding: 50px 50px 50px 50px;
}
