* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-color: #fff;
}




/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
}




/* ПЕРВАЯ СЕКЦИЯ */
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0 50px;

    height: 45vh;

    background: -webkit-linear-gradient(45deg, rgb(216, 184, 238), rgb(228, 210, 229));
    background: -moz-linear-gradient(45deg, rgb(216, 184, 238), rgb(228, 210, 229));
    background: linear-gradient(45deg, rgb(216, 184, 238), rgb(228, 210, 229));
}


/*------------- ВТОРАЯ СЕКЦИЯ------------------ */
/*------------- ТРЕТЬЯ СЕКЦИЯ------------------ */
/*------------- ЧЕТВЁРТАЯ СЕКЦИЯ------------------ */
.section-img {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
}

.section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 500px;
}


/*------------- ПЯТАЯ СЕКЦИЯ------------------ */
.section5 {
    background-color: #000;
    background: url(../img/specialists.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
    opacity: 0.7;
}


.section5-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 300px;

    color: white;
}



/* ШЕСТАЯ СЕКЦИЯ */
.section6_img {
    padding: 50px 50px 50px 50px;
}

.faq {
    margin-top: 40px;
    align-items: center;
    border: solid 1px red;
}

.faq-img {
    background-image: url('../img/faq.png');
    background-repeat: no-repeat;
    height: 600px;
    border: solid 1px red;
}


/* ================== SECTION WATCH ============= */


/* .section-watch h3 {
    font-size: 33px;
    color: #484848;
}

.section-watch h4 {
    color: #484848;
    font-size: 50px;
} */

.section-tabs .nav-pills .nav-link {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 30px;
    color: #484848;
}

.section-tabs .nav-pills {
    margin-bottom: 20px;
}

.section-tabs .nav-pills .nav-item .nav-link.active {
    /* background-color: #f42267; */
    background-color: #e785c4;
    color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
}

.btn-shadow {
    box-shadow: 0 3px 0 #ff5990;
    border-radius: 10px;
    padding: 10px 25px;
    transform: all .5s;
}

.btn-shadow:hover {
    box-shadow: 0 5px 0 #ff5990;
    color: #fff;
    background-color: #7de7d8;
    /* background-color: #e785c4; */

}




.wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.imgg {
    box-shadow: 0px 10px 15px 10px rgb(61, 61, 61);
    border: solid 1px #ccc;
}